In [16]:
# import libraries
import pandas as pd 
import pyarrow.parquet as pq
from time import time
from sqlalchemy import create_engine

In [ ]:
# read metadata
pq.read_metadata('data/yellow_tripdata_2021-01.parquet')

<pyarrow._parquet.FileMetaData object at 0x74cefb4a51c0>
  created_by: parquet-cpp-arrow version 7.0.0
  num_columns: 19
  num_rows: 1369769
  num_row_groups: 1
  format_version: 1.0
  serialized_size: 10382

In [9]:
# read the file then the table then the schema
data = pq.ParquetFile('data/yellow_tripdata_2021-01.parquet')
table = data.read()
table.schema

VendorID: int64
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: double
trip_distance: double
RatecodeID: double
store_and_fwd_flag: string
PULocationID: int64
DOLocationID: int64
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
airport_fee: double
-- schema metadata --
pandas: '{"index_columns": [], "column_indexes": [], "columns": [{"name":' + 2492

In [11]:
# convert to pandas and check data
df = table.to_pandas()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369769 entries, 0 to 1369768
Data columns (total 19 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1369769 non-null  int64
 1   tpep_pickup_datetime   1369769 non-null  datetime64[us]
 2   tpep_dropoff_datetime  1369769 non-null  datetime64[us]
 3   passenger_count        1271417 non-null  float64
 4   trip_distance          1369769 non-null  float64
 5   RatecodeID             1271417 non-null  float64
 6   store_and_fwd_flag     1271417 non-null  object
 7   PULocationID           1369769 non-null  int64
 8   DOLocationID           1369769 non-null  int64
 9   payment_type           1369769 non-null  int64
 10  fare_amount            1369769 non-null  float64
 11  extra                  1369769 non-null  float64
 12  mta_tax                1369769 non-null  float64
 13  tip_amount             1369769 non-null  float64
 14  tolls_amount           1369769 non-null  float64
 15  improvement_surcharge  1369769 non-null  float64
 16  total_amount           1369769 non-null  float64
 17  congestion_surcharge   1271417 non-null  float64
 18  airport_fee            5 non-null        float64
dtypes: datetime64[us](2), float64(12), int64(4), object(1)
memory usage: 198.6+ MB

In [ ]:
# connect to the database
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [18]:
# Generate CREATE SQL statement from schema for validation
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [20]:
# Insert values into the table 
t_start = time()
count = 0
for batch in data.iter_batches(batch_size=100000):
    count+=1
    batch_df = batch.to_pandas()
    print(f'inserting batch {count}...')
    b_start = time()
    
    batch_df.to_sql(name='ny_taxi_data',con=engine, if_exists='append')
    b_end = time()
    print(f'inserted! time taken {b_end-b_start:10.3f} seconds.\n')
    
t_end = time()   
print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

inserting batch 1...
inserted! time taken     10.968 seconds.

inserting batch 2...
inserted! time taken     10.176 seconds.

inserting batch 3...
inserted! time taken     10.410 seconds.

inserting batch 4...
inserted! time taken     11.019 seconds.

inserting batch 5...
inserted! time taken     10.378 seconds.

inserting batch 6...
inserted! time taken     10.321 seconds.

inserting batch 7...
inserted! time taken     10.760 seconds.

inserting batch 8...
inserted! time taken     10.341 seconds.

inserting batch 9...
inserted! time taken     10.451 seconds.

inserting batch 10...
inserted! time taken     10.819 seconds.

inserting batch 11...
inserted! time taken     10.491 seconds.

inserting batch 12...
inserted! time taken     10.964 seconds.

inserting batch 13...
inserted! time taken     11.047 seconds.

inserting batch 14...
inserted! time taken      6.929 seconds.

Completed! Total time taken was    145.324 seconds for 14 batches.