##### Homework 01 - Data Engineering Zoomcamp
##### Nazmul Hasan Rabbi
##### 18/01/2025

In [2]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [2]:
print("Q1: 24.3.1")

Q1: 24.3.1

In [3]:
print("Q2: postgres:5432")

Q2: postgres:5432

In [3]:
# connect to the database
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')

In [5]:
# read the csv file in chunks
df_iter = pd.read_csv('./data/green_tripdata_2019-10.csv', iterator=True, chunksize=100000)

# insert data to the database
while True:
    try:
        t_start = time()
        
        # Get the next chunk
        print("\nReading next chunk...")
        df = next(df_iter)
        print("Chunk read successfully.")
        
        # Process the chunk
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
        
        # Insert the chunk into the database
        print("Inserting chunk into the database...")
        df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
        print("Chunk inserted successfully.")
        
        t_end = time()
        print(f'Inserted another chunk, took {t_end - t_start:.3f} seconds')
        
    except StopIteration:
        print("All chunks have been processed.")
        break
    except Exception as e:
        print(f"An error occurred: {e}")
        break

Reading next chunk...
Chunk read successfully.
Inserting chunk into the database...
Chunk inserted successfully.
Inserted another chunk, took 10.603 seconds

Reading next chunk...
Chunk read successfully.
Inserting chunk into the database...
Chunk inserted successfully.
Inserted another chunk, took 10.572 seconds

Reading next chunk...
Chunk read successfully.
Inserting chunk into the database...
Chunk inserted successfully.
Inserted another chunk, took 10.803 seconds

Reading next chunk...
Chunk read successfully.

/tmp/ipykernel_22094/597778851.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserting chunk into the database...
Chunk inserted successfully.
Inserted another chunk, took 11.362 seconds

Reading next chunk...
Chunk read successfully.
Inserting chunk into the database...
Chunk inserted successfully.
Inserted another chunk, took 6.888 seconds

Reading next chunk...
All chunks have been processed.

In [7]:
print("Q3: 104,838; 199,013; 109,645; 27,688; 35,202")

Q3: 104,838; 199,013; 109,645; 27,688; 35,202

In [8]:
print("Q4: 2019-10-31")

Q4: 2019-10-31

In [4]:
taxi_zone = pd.read_csv('./data/taxi_zone_lookup.csv')
taxi_zone.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [5]:
# insert zone data to postgres db
taxi_zone.to_sql(name='taxi_zone', con=engine, if_exists='append')

265

In [6]:
print("Q5: East Harlem North, East Harlem South, Morningside Heights")

Q5: East Harlem North, East Harlem South, Morningside Heights

In [9]:
print("Q6: JFK Airport")

Q6: JFK Airport

In [10]:
print("Q7: terraform init, terraform apply -auto-approve, terraform destroy")

Q7: terraform init, terraform apply -auto-approve, terraform destroy